body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.result{
    font-size: 100px;
    
}
.button{
    width: 100px;
    height: 50px;
    color: aliceblue;
    border-radius: 15px;
}
.button-increment{
    background-color:rgb(17, 78, 0) ;
}
.button-decrement{
    background-color:rgb(0, 65, 111) ;
}
.button-reset{
    background-color:rgb(111, 0, 54) ;
}
